<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{blog_name}}</title>

	<script type="text/javascript" src="http://use.typekit.com/fbv1sel.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	{{#fonts_css}}
		<link rel="stylesheet" type="text/css" href="{{url}}/static/css/{{fonts_css}}" />
	{{/fonts_css}}
    <link rel="stylesheet" media="screen" href="{{url}}/static/css/{{css_file}}" type="text/css" />
  </head>
  <body>

    <div id="content">

	  <div id="intro">
	  	<div class="left">
			<h1 class="blog-title">
				<a href="{{url}}/">
					<img src="{{url}}/static/images/hat.png" class="icon" />
					{{blog_name}}
				</a>
			</h1>
		</div>

		<div class="right">
			<a class="side" href="http://twitter.com/{{twitter}}">@{{twitter}}</a>
			<a class="side" href="mailto:{{email}}">say hi.</a>
			<a class="side" href="{{url}}/feed.rss">rss feed</a>
		</div>

		<div class="clear"></div>
	  </div>

      <div id="posts">
        {{#posts}}
			{{{post}}}
		{{/posts}}

        <div id="bottom">  
			{{#back_to_blog}}
				<div id="btb">
					<a href="{{url}}">&larr; Back To The Blog</a>
				</div>
			{{/back_to_blog}}
			{{#paginator}}
				{{{paginator}}}
			{{/paginator}}
			<div id="copyright">&copy; Aditya Mukherjee 2012</div>
			<div class="clear"></div>
        </div>

      </div>

    </div>

  </body>
  <script src="{{url}}/static/rainbow-custom.min.js"></script>
</html>
