<div class="post link">
	<h1 class="post-title"><a href="{{url}}/{{relative_permalink}}">{{title}}</a> <a href="{{post_link}}">&rarr;</a></h1>

	<span class="post-body">
		{{{post}}}
	</span>

	<div class="meta">
		<span class="date">
		{{date}}
		</span> 
	</div>
</div>

