<div class="post">
	<h1 class="post-title"><a href="{{url}}/{{relative_permalink}}">{{title}}</a></h1>

	<div class="meta">
		<a href="{{url}}/{{relative_permalink}}">#{{id}}</a> / 
		<span class="date">
		{{date}}
		</span> 
	</div>

	<span class="post-body">
		{{{post}}}
	</span>
</div>
