<div class="post">
	{{#title}}
	<h1 class="post-title"><a href="{{url}}/{{relative_permalink}}">{{title}}</a></h1>

	<div class="meta">
		<a href="{{url}}/{{relative_permalink}}">#{{id}}</a> / 
		<span class="date">
		{{date}}
		</span> 
	</div>
	{{/title}}

	<span class="post-body">
		{{{post}}}
	</span>

	{{^title}}
	<!-- no title -->
	<a href="{{url}}/{{relative_permalink}}" class="permalink">&#x2693;</a>
	{{/title}}
</div>
