<div id="paginator">
    <span>
	  {{#prev_link}}
		<a href="{{prev_link}}">&larr; Previous</a>
	  {{/prev_link}}
	  {{#next_link}}
		<a href="{{next_link}}">Next &rarr;</a>
	  {{/next_link}}
    </span>
</div>
