<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
			<title>{{blog_name}}</title>
			<description>{{blog_description}}</description>
			<link>{{url}}</link>
			<lastBuildDate>{{last_build}}</lastBuildDate>
			<pubDate>{{last_build}}</pubDate>
	
			{{#items}}
			<item>
					<title>{{title}}</title>
					<description><![CDATA[
						{{post}}
					]]></description>
					<link>{{rss_link}}</link>
					<pubDate>{{date}}</pubDate>
			</item>
			{{/items}}
	</channel>
</rss>
